@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html, body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.especialidades, .servicios, .beneficios, .opiniones {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 5%; }

.header {
  background-color: #49B7BF; }

.navbar-brand img {
  width: 200px; }

.nav-item {
  padding-left: 60px; }

.d-flex .btn {
  background-color: #EAF3F2;
  border: #49B7BF 1px solid;
  color: #49B7BF; }

.d-flex .btn:hover {
  background-color: #49B7BF;
  color: white; }

.titulo_secciones {
  color: #5f5c59;
  font-size: 35px;
  padding-bottom: 15px; }

.subtitulos_secciones {
  color: #7A7671;
  padding-bottom: 40px; }

.texto_gris {
  color: #817D76; }

.texto_verde {
  color: #49B7BF; }

/*--------------------  Animaciones  --------------------*/
.reserva_letra_1 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3s; }

.reserva_letra_2 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.1s; }

.reserva_letra_3 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.2s; }

.reserva_letra_4 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.3s; }

.reserva_letra_5 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.4s; }

.reserva_letra_6 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.5s; }

.reserva_letra_7 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.6s; }

.reserva_letra_8 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.7s; }

.reserva_letra_9 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.8s; }

.reserva_letra_10 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 3.9s; }

.reserva_letra_11 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4s; }

.reserva_letra_11 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.1s; }

.reserva_letra_12 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.2s; }

.reserva_letra_13 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.3s; }

.reserva_letra_14 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.4s; }

.reserva_letra_15 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.5s; }

.reserva_letra_16 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.6s; }

.reserva_letra_17 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.7s; }

.reserva_letra_18 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.8s; }

.reserva_letra_19 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 4.9s; }

.reserva_letra_20 {
  animation-name: animacion_letra;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 5s; }

/*------- Sección Reserva de turno -------*/
.reserva_turno {
  display: grid;
  grid-template-areas: "reserva_texto reserva_imagen" "reserva_boton reserva_imagen";
  background-color: #EAF3F2;
  color: #49B7BF;
  font-size: 1rem; }

.reserva_texto {
  grid-area: reserva_texto;
  align-self: center;
  justify-self: end;
  width: 500px;
  font-size: 15px; }

.reserva_texto h1 {
  font-size: 35px;
  padding-right: 40px;
  padding-bottom: 30px; }

.reserva_texto p {
  text-align: justify; }

.reserva_boton {
  grid-area: reserva_boton;
  justify-self: right;
  align-self: center;
  padding-top: 20px;
  padding-right: 150px; }

.reserva_boton a {
  background: linear-gradient(to top, #be6f1a, #F58E22);
  position: relative;
  bottom: 0px;
  transition: 0.3s;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  color: white;
  text-decoration: none;
  border-radius: 15px; }

.reserva_boton a:hover {
  position: relative;
  bottom: 2px;
  transition: 0.3s; }

.reserva_imagen {
  grid-area: reserva_imagen;
  justify-self: start;
  width: 520px; }

.reserva_imagen img {
  width: 500px; }

/*------- Sección Especialidades -------*/
.especialidades {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #817D76;
  font-size: 1rem; }

.especialidad_texto p {
  text-align: center; }

.especialidades p {
  padding-bottom: 40px; }

.especialidades li {
  display: inline-block;
  padding-left: 60px;
  transform: scale(1, 1);
  transition: 0.3s; }

.especialidades li img {
  transform: scale(1, 1);
  transition: 0.3s; }

.especialidades li p {
  text-align: center;
  padding-left: 5px;
  padding-top: 10px;
  color: #49B7BF;
  font-weight: 600; }

.especialidades li img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s; }

.especialidad {
  padding: 20px; }

.especialidad p {
  padding-top: 10px; }

.especialidad h2 {
  color: #7A7671; }

/*------- Sección Servicios -------*/
.servicios {
  background-color: #EAF3F2;
  color: #817D76;
  font-size: 1rem;
  display: grid;
  grid-template-areas: "servicio_texto servicio_texto servicio_texto" "servicio_1 servicio_2 servicio_3"; }

.servicio_texto {
  grid-area: servicio_texto;
  margin-bottom: 30px; }

.servicio_texto p {
  margin-bottom: 40px; }

.servicio_1 {
  grid-area: servicio_1; }

.servicio_1 img {
  transform: rotateY(0deg);
  transition: 0.3s; }

.servicio_1 img:hover {
  transform: rotate(2deg);
  transition: 0.3s; }

.servicio_2 {
  grid-area: servicio_2; }

.servicio_2 img {
  transform: rotateY(0deg);
  transition: 0.3s; }

.servicio_2 img:hover {
  transform: rotate(-2deg);
  transition: 0.3s; }

.servicio_3 {
  grid-area: servicio_3; }

.servicio_3 img {
  transform: rotateY(0deg);
  transition: 0.3s; }

.servicio_3 img:hover {
  transform: rotate(2deg);
  transition: 0.3s; }

/*------- Sección Beneficios -------*/
.beneficios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  color: #817D76;
  font-size: 1rem; }

.beneficios p {
  width: 200px;
  text-align: center; }

.beneficios h3 {
  padding-bottom: 20px; }

.beneficio_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }

.beneficio_1 img {
  width: 80px;
  padding: 15px; }

.beneficio_1 p {
  width: 310px;
  text-align: center; }

.beneficio_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }

.beneficio_2 img {
  width: 80px;
  padding: 15px; }

.beneficio_2 p {
  width: 310px;
  text-align: center; }

.beneficio_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }

.beneficio_3 img {
  width: 80px;
  padding: 15px; }

.beneficio_3 p {
  width: 310px;
  text-align: center; }

.beneficio_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }

.beneficio_4 img {
  width: 80px;
  padding: 15px; }

.beneficio_4 p {
  width: 310px;
  text-align: center; }

/*------- Sección Opiniones -------*/
.opiniones {
  background-color: #EAF3F2;
  color: #49B7BF;
  font-size: 1rem;
  display: grid;
  grid-template-areas: "opinion_titulo opinion_paciente ." "opinion_texto opinion_paciente ."; }

.opinion_titulo {
  grid-area: opinion_titulo;
  justify-self: end;
  align-self: center;
  padding-right: 120px; }

.opinion_titulo h2 {
  color: #49B7BF;
  padding-bottom: 0px; }

.opinion_texto {
  grid-area: opinion_texto;
  justify-self: end;
  padding-right: 30px;
  width: 450px;
  height: 80px; }

.opiniones_texto p {
  color: #49B7BF;
  font-size: 16px;
  width: 350px;
  height: 80px; }

.opinion_paciente {
  grid-area: opinion_paciente;
  border: #7A7671 2px solid;
  border-radius: 20px;
  padding-left: 50px;
  display: inline-block;
  width: 400px;
  justify-self: start; }

.opinion_paciente img {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 60px; }

.opinion_paciente h4 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px; }

.opinion_paciente p {
  color: #49B7BF;
  text-align: justify;
  width: 310px; }

.perfil_paciente ul {
  list-style: none;
  width: 200px; }

.perfil_paciente li {
  display: inline-block; }

.nuestra_historia {
  background-color: #EAF3F2; }
  .nuestra_historia h1 {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 10px; }
  .nuestra_historia h2 {
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 20px; }
  .nuestra_historia p {
    padding: 20px;
    text-align: justify;
    margin-bottom: 0px; }
  .nuestra_historia img {
    width: 515px;
    padding: 20px; }

main .nuestros_profesionales {
  background-color: #EAF3F2;
  padding-top: 20px;
  padding-bottom: 40px; }
  main .nuestros_profesionales img {
    width: 500px;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 20px; }
  main .nuestros_profesionales h1 {
    padding-left: 20px; }
  main .nuestros_profesionales h2 {
    padding-bottom: 10px; }
  main .nuestros_profesionales h3 {
    color: #979797;
    font-size: 1.3rem; }
  main .nuestros_profesionales p {
    padding-left: 20px;
    padding-bottom: 20px; }

.sucursales {
  padding: 20px;
  background-color: #EAF3F2; }
  .sucursales h2 {
    text-decoration: underline;
    padding-top: 20px; }
  .sucursales p {
    padding-top: 30px;
    padding-bottom: 30px; }
  .sucursales .direccion {
    font-weight: 700; }

.contacto {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 5%;
  background-color: #EAF3F2;
  height: 100%; }
  .contacto form input {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border: #5f5c59 1px solid;
    border-radius: 7px;
    padding: 5px; }
  .contacto form input[type=submit] {
    display: inline-block;
    margin-left: 280px; }
  .contacto form input[type=reset] {
    display: inline-block; }
  .contacto form textarea {
    display: block;
    border: #5f5c59 1px solid;
    border-radius: 7px;
    padding: 5px; }

footer {
  display: flex;
  flex-direction: column;
  background-color: #EAE6E1;
  height: 100%; }

.footer_titulo {
  padding-top: 20px;
  padding-left: 20px; }

.icono_fb {
  display: inline-block;
  padding-left: 10px;
  animation-name: animacion_red_social;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s; }

.icono_tw {
  display: inline-block;
  padding-left: 10px;
  animation-name: animacion_red_social;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.2s; }

.icono_ig {
  display: inline-block;
  padding-left: 10px;
  animation-name: animacion_red_social;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.4s; }

.icono_yt {
  display: inline-block;
  padding-left: 10px;
  animation-name: animacion_red_social;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.6s; }

.footer_copyright {
  text-align: right;
  padding-right: 10px; }

@keyframes animacion_letra {
  0% {
    position: relative;
    bottom: 0px; }
  5% {
    position: relative;
    bottom: 3px; }
  10% {
    position: relative;
    bottom: 0px; }
  100% {
    position: relative;
    bottom: 0px; } }

@keyframes animacion_red_social {
  0% { }
  25% {
    transform: rotate(360deg); }
  50% { }
  75% { }
  100% {
    transform: rotate(360deg); } }

@media (max-width: 1200px) {
  /*--------------------  Menú de navegación y logo | 1200px --------------------*/
  .subtitulos_secciones {
    color: #7A7671;
    padding-bottom: 40px;
    font-size: 1.7rem; }
  .texto_gris {
    color: #817D76;
    font-size: 1.1rem; }
  nav {
    grid-template-areas: "logo nav_bar nav_bar nav_bar nav_bar nav_bar" "search_bar search_bar search_bar search_bar search_bar search_bar";
    padding: 30px; }
  .nav_bar li {
    font-size: 1.1rem;
    display: inline-block;
    padding-right: 30px;
    padding-left: 25px; }
  .search_bar {
    padding: 5px; }
  /*-------------------- Sección Reserva de turno | 1200px --------------------*/
  .reserva_texto {
    font-size: 1rem; }
  .reserva_texto h1 {
    font-size: 2.2rem; }
  .reserva_boton a {
    font-size: 1.1rem; }
  /*-------------------- Sección Reserva de turno | 1200px --------------------*/
  .especialidad_categorias ul {
    text-align: center; }
  .especialidad_categorias li {
    padding: 20px; }
  /*-------------------- Sección Beneficios | 1200px --------------------*/
  .beneficios {
    display: grid;
    grid-template-areas: "beneficio_titulo beneficio_titulo " "beneficio_1 beneficio_2" "beneficio_3 beneficio_4";
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 5%; }
  .beneficios h3 {
    font-size: 1.2rem; }
  .beneficios p {
    font-size: 1rem;
    grid-area: beneficio_titulo; }
  .beneficio_1 {
    padding-right: 20px;
    grid-area: beneficio_1; }
  .beneficio_2 {
    padding-right: 20px;
    grid-area: beneficio_2; }
  .beneficio_3 {
    padding-right: 20px;
    grid-area: beneficio_3; }
  .beneficio_4 {
    padding-right: 20px;
    grid-area: beneficio_4; }
  /*-------------------- contacto.html | 1200px --------------------*/
  .contacto form input[type=submit] {
    margin-left: 280px; } }

/*-------------------------  768px -----------------------------*/
@media (max-width: 768px) {
  /*--------------------  Menú de navegación y logo | 768px --------------------*/
  .subtitulos_secciones {
    color: #7A7671;
    padding-bottom: 40px;
    font-size: 2rem; }
  .texto_gris {
    color: #817D76;
    font-size: 1.3rem; }
  .texto_verde {
    color: #49B7BF;
    font-size: 2.1rem; }
  nav {
    grid-template-areas: "logo logo logo logo logo logo" "nav_bar nav_bar nav_bar nav_bar nav_bar nav_bar" "search_bar search_bar search_bar search_bar search_bar search_bar";
    padding: 30px; }
  .logo {
    justify-self: center; }
  .logo img {
    width: 260px; }
  .nav_bar ul {
    text-align: center; }
  .nav_bar li {
    font-size: 1.2rem;
    display: inline-block;
    padding-left: 35px;
    padding-bottom: 15px;
    padding-top: 20px; }
  .search_bar {
    padding: 5px; }
  /*-------------------- Sección Reserva de turno | 768px --------------------*/
  .reserva_turno {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF3F2; }
  .reserva_boton {
    padding-top: 20px;
    padding-right: 100px; }
  .reserva_imagen img {
    width: 400px;
    padding-top: 50px; }
  /*-------------------- Sección Servicios | 768px --------------------*/
  .servicio_1 p {
    text-align: center;
    width: 200px; }
  .servicio_2 p {
    text-align: center;
    width: 200px; }
  .servicio_3 p {
    text-align: center;
    width: 200px; }
  /*-------------------- Sección Beneficios | 768px --------------------*/
  .beneficios {
    display: grid;
    grid-template-areas: "beneficio_titulo beneficio_titulo " "beneficio_1 beneficio_2" "beneficio_3 beneficio_4";
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 5%; }
  .beneficios h3 {
    font-size: 1.2rem; }
  .beneficios p {
    font-size: 1rem;
    grid-area: beneficio_titulo; }
  .beneficio_1 {
    padding-right: 20px;
    grid-area: beneficio_1; }
  .beneficio_2 {
    padding-right: 20px;
    grid-area: beneficio_2; }
  .beneficio_3 {
    padding-right: 20px;
    grid-area: beneficio_3; }
  .beneficio_4 {
    padding-right: 20px;
    grid-area: beneficio_4; }
  /*-------------------- Sección Opiniones | 768px --------------------*/
  .opiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 5%; }
  .opinion_titulo h2 {
    padding-bottom: 25px; }
  /*-------------------- contacto.html | 768px --------------------*/
  .contacto form input[type=submit] {
    margin-left: 280px; }
  /*-------------------- Footer | 768px --------------------*/
  footer_titulo h3 {
    font-size: 1.1rem; }
  footer_copyright p {
    font-size: 1.1rem; } }

/*-------------------------  600px -----------------------------*/
@media (max-width: 600px) {
  /*-------------------- Sección Reserva de turno | 600px --------------------*/
  .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px; }
  .servicios p {
    width: 400px; }
  .servicio_1 {
    padding-bottom: 30px; }
  .servicio_1 p {
    width: 200px;
    text-align: center;
    padding-top: 10px; }
  .servicio_2 {
    padding-bottom: 30px; }
  .servicio_2 p {
    width: 200px;
    text-align: center;
    padding-top: 10px; }
  .servicio_3 {
    padding-bottom: 30px; }
  .servicio_3 p {
    width: 200px;
    text-align: center;
    padding-top: 10px; }
  /*-------------------- Sección Reserva de turno | 600px --------------------*/
  .beneficios {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .beneficio_1 {
    padding-bottom: 40px; }
  .beneficio_2 {
    padding-bottom: 40px; }
  .beneficio_2 h3 {
    width: 190px;
    text-align: center; }
  .beneficio_3 {
    padding-bottom: 40px; }
  .beneficio_4 {
    padding-bottom: 40px; }
  /*-------------------- contacto.html | 600px --------------------*/
  .contacto form input[type=submit] {
    margin-left: 280px; } }

/*-------------------------  480px -----------------------------*/
@media (max-width: 480px) {
  /*-------------------- Sección Reserva de turno | 480px --------------------*/
  .reserva_turno {
    text-align: center;
    display: flex;
    flex-direction: column; }
  .reserva_texto h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 30px; }
  .reserva_texto p {
    width: 490px;
    font-size: 1.3rem;
    text-align: center; }
  .reserva_imagen img {
    width: 480px; }
  .reserva_boton a {
    display: block;
    text-align: center;
    width: 220px; }
  /*-------------------- Sección Especialidades | 480px --------------------*/
  .especialidad_categorias ul {
    padding-right: 10%; }
  /*-------------------- Sección Servicios | 480px --------------------*/
  .servicios p {
    width: 240px; }
  .servicio_1 p {
    width: 200px;
    padding: 0px;
    text-align: center; }
  .servicio_2 p {
    width: 200px;
    padding: 0px;
    text-align: center; }
  .servicio_3 p {
    width: 200px;
    padding: 0px;
    text-align: center; }
  /*-------------------- Sección Beneficios | 480px --------------------*/
  .beneficios {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .beneficio_1 {
    padding-bottom: 40px; }
  .beneficio_2 {
    padding-bottom: 40px; }
  .beneficio_2 h3 {
    width: 190px;
    text-align: center; }
  .beneficio_3 {
    padding-bottom: 40px; }
  .beneficio_4 {
    padding-bottom: 40px; }
  /*-------------------- Sección Opiniones | 480px --------------------*/
  .opiniones {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .opiniones p {
    width: 250px; }
  .opinion_texto p {
    display: none; }
  .opinion_titulo h2 {
    width: 330px;
    text-align: center; }
  .opinion_paciente {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 440px; }
  .opinion_paciente h4 {
    text-align: center;
    width: 450px; }
  .opinion_paciente p {
    width: 380px;
    padding-left: 30px; }
  /*-------------------- contacto.html | 480px --------------------*/
  .contacto form input[type=submit] {
    margin-left: 280px; } }

/*-------------------------  320px -----------------------------*/
@media (max-width: 320px) {
  /*-------------------- Sección Reserva de turno | 320px --------------------*/
  .reserva_turno {
    text-align: center;
    display: flex;
    flex-direction: column; }
  .reserva_texto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .reserva_texto h1 {
    font-size: 30px;
    width: 320px;
    padding-top: 30px; }
  .reserva_texto p {
    width: 300px;
    font-size: 1.3rem;
    text-align: center; }
  .reserva_imagen img {
    width: 300px;
    position: relative; }
  .reserva_boton a {
    margin-left: 20%;
    display: block;
    text-align: center;
    width: 220px; }
  /*-------------------- Sección Especialidades | 320px --------------------*/
  .especialidad_categorias ul {
    padding-right: 30%; }
  /*-------------------- Sección Servicios | 320px --------------------*/
  .servicios p {
    width: 240px; }
  .servicio_1 p {
    width: 200px;
    padding: 0px;
    text-align: center; }
  .servicio_2 p {
    width: 200px;
    padding: 0px;
    text-align: center; }
  .servicio_3 p {
    width: 200px;
    padding: 0px;
    text-align: center; }
  /*-------------------- Sección Beneficios | 320px --------------------*/
  .beneficios {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .beneficio_1 {
    padding-bottom: 40px; }
  .beneficio_2 {
    padding-bottom: 40px; }
  .beneficio_2 h3 {
    width: 190px;
    text-align: center; }
  .beneficio_3 {
    padding-bottom: 40px; }
  .beneficio_4 {
    padding-bottom: 40px; }
  /*-------------------- Sección Opiniones | 320px --------------------*/
  .opiniones {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .opiniones p {
    width: 250px; }
  .opinion_texto p {
    display: none; }
  .opinion_titulo h2 {
    width: 320px;
    text-align: center; }
  .opinion_paciente {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 300px; }
  .opinion_paciente h4 {
    text-align: center;
    width: 270px; }
  .opinion_paciente p {
    width: 270px; }
  /*-------------------- quienes_somos.html | 320px --------------------*/
  .nuestra_historia img {
    width: 300px; }
  /*-------------------- nuestros_profesionales.html | 320px --------------------*/
  .nuestros_profesionales > img {
    width: 300px; }
  /*-------------------- contacto.html | 320px --------------------*/
  .contacto form textarea {
    width: 280px; }
  .contacto form input[type=submit] {
    display: inline-block;
    margin-left: 150px; }
  .contacto form input[type=reset] {
    display: inline-block; } }
