.header{
background-color: #49B7BF;
}


.navbar-brand img{
    width:200px;
}

.nav-item{
    padding-left: 60px;}


.d-flex .btn{
    background-color: #EAF3F2;
    border: #49B7BF 1px solid;
    color: #49B7BF;
}

.d-flex .btn:hover{
    background-color: #49B7BF;
    color: white;
}
