.nuestros_profesionales{
    background-color: #EAF3F2;
    padding-top: 20px;
    padding-bottom: 40px;
}

.nuestros_profesionales > h1{
    padding-left: 20px;
}

.nuestros_profesionales > img{
    width: 500px;
    padding-top:45px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.nuestros_profesionales > p{
    padding-left: 20px;
    padding-bottom: 20px;
}

.especialidad{
    padding: 20px;
}

.especialidad p{
    padding-top: 10px;
}

.especialidad h2{
    color: #7A7671;
}