.nuestra_historia{
    background-color: #EAF3F2;
    }
    
    .nuestra_historia h1{
        padding-top: 30px;
        padding-left: 20px;
        padding-bottom: 40px;
    }
    
    .nuestra_historia > p{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
        margin-bottom: 0px;
    }
    
    .nuestra_historia img{
        width: 515px;
        padding-left: 20px;
    }