.sucursales{
    padding: 20px;
}

.sucursales h2{
    text-decoration: underline;
    padding-top: 20px;
}

.sucursales > p{
    padding-top: 30px;
    padding-bottom: 30px;
}

.sucursales .direccion {
    font-weight: 700;
}
